#app {
	padding: 2rem;
	text-align: center;
	margin: 0 auto;
}

.detail {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 1rem;
}
